# The defaults in .env.template should be good enough so just copy them below
# Copy this file to .env and fill in values before running docker compose up.

# Grafana admin credentials
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=grafana

# Docker image tag for pingpong (default: latest)
IMAGE_TAG=latest

GRAFANA_VERSION=12.0.1

ENVOY_ADDR=0.0.0.0
ENVOY_PORT=8080
ENVOY_PORT_TLS=8443
ENVOY_ADMIN_PORT=9901

# Alertstack
ALERTSTACK_HOST=alertstack.org
ALERTSTACK_PORT=8090
ALERTSTACK_PORT_TLS=8443


# Frontend
FRONTEND_PORT=${ENVOY_PORT}
FRONTEND_ADDR=frontend:${FRONTEND_PORT}
FRONTEND_DOCKERFILE=./app/Dockerfile

# Frontend Proxy (Envoy)
FRONTEND_HOST=frontend
FRONTEND_PROXY_ADDR=frontend-proxy:${ENVOY_PORT}
FRONTEND_PROXY_DOCKERFILE=./src/frontend-proxy/Dockerfile

# Alertmanager
ALERTMANAGER_HOST=${ALERTSTACK_HOST}
ALERTMANAGER_PORT=9093

# Prometheus
PROMETHEUS_HOST=${ALERTSTACK_HOST}
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_HOST=${ALERTSTACK_HOST}
GRAFANA_PORT=3000


