{{ define "slack.default.callbackid" }}{{ end }}
{{ define "slack.default.pretext" }}{{ end }}
{{ define "slack.default.iconemoji" }}{{ end }}
{{ define "slack.default.iconurl" }}{{ end }}
{{ define "slack.default.text" }}{{ end }}
{{ define "slack.default.footer" }}{{ end }}

{{ define "slack.default.prometheus_logo" }}https://raw.githubusercontent.com/prometheus/prometheus.github.io/master/assets/prometheus_logo-cb55bb5c346.png{{ end }}

{{ define "slack.severity.icon" }}
{{ if and ( or (eq .CommonLabels.severity "critical") (eq .CommonLabels.severity "page")) (eq .Status "firing") }}:rotating_light:{{ else if and (eq .CommonLabels.severity "warning") (eq .Status "firing") }}:warning:{{ else }}:information_source:{{ end }}{{ end }}
{{ define "slack.subject" }}
    {{ template "slack.severity.icon" . }}  [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]{{ .GroupLabels.alertname }} - {{ .CommonLabels.severity }} {{ end }}
{{ define "slack.default.title" }}{{ template "slack.subject" . }}{{ end }}
{{ define "slack.default.username" }}{{ template "__alertmanager" . }}{{ end }}
{{ define "slack.default.fallback" }}{{ template "slack.default.title" . }} | {{ template "slack.default.titlelink" . }}{{ end }}
{{ define "slack.default.pretext" }}{{ end }}
{{ define "slack.default.titlelink" }}{{ template "__alertmanagerURL" . }}{{ end }}
{{ define "slack.channel" }}{{ if .CommonLabels.cluster | match "qa|stage" }}#alertmanager-stage{{ else }}#alertmanager-prod{{ end }}{{ end }}
{{ define "slack.default.color" }}{{ if and ( or (eq .CommonLabels.severity "critical") (eq .CommonLabels.severity "page")) (eq .Status "firing") }}danger{{ else if and (eq .CommonLabels.severity "warning") (eq .Status "firing") }}warning{{ else }}good{{ end }}{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }} - `{{ .Labels.severity }}`
*Description:* {{ .Annotations.description }}
{{ if .Annotations.runbook_url -}}
*RunBook_link:* <{{ .Annotations.runbook_url }}|:book:>
{{ end -}}
*Details:*
{{ range .Labels.SortedPairs -}} • *{{ .Name }}:* `{{ .Value }}`
{{ end -}}
• *prometheus_url:* <{{ .GeneratorURL }}|:prometheus_logo:>
{{ end }}
{{ end }}
